#hiddentweet { position : fixed ; top : -5000px ; }

.tweetdate {
float: right;
font-size: .7em;
} 
 


.container {
   background: #EBEBEB;
   min-height: 500px;

}
section {
margin: 20px;
margin-bottom: 10px;
margin-top: 5px;
font-family: 'Andika', Kalpurush, SolaimanLipi, Lohit, Arial;
   
}

.container ul {
	list-style: none;

}

li {

	border-top: 1px solid #9B9B9C;
	font-size: 14px;
	opacity: 0.9;

}


li i {
	margin-right: 5px;
	color: #00ACEE;
	
}

li p {
	color: #444444;
	text-shadow: 1px 1px 3px #7C7C7C;
    filter: dropshadow(color=#7C7C7C, offx=1, offy=1);
    margin-left: 5px;
    margin-right: 5px;
    height: 80px;
}

li:hover {
	background: #FFF;
	opacity: 1.0;
}

li a {
	background: #49426F;
	color: #FFF;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
    border-radius: 4px;
    opacity: 0.8;
}

li a:hover{
	opacity: 1.0;

}

a.tweetdate {
	background: #3E5269;
}

.footer {
	text-align: center;
}
.footer pre {
	font-family: 'Advent Pro', cursive;
	font-size: 18px;
}